In [196]:
import pandas as pd
df=pd.read_csv("train-data.csv")

In [197]:
df.head()

,Age,JobType,Id,Education,House No,Maritial Status,Job,Relationship,race,gender,gain,loss,hours per week,Country,Salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=Rs50000
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=Rs50000
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=Rs50000
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=Rs50000
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=Rs50000

# Preprocessing

In [198]:
#Conversion 
from sklearn import preprocessing
import numpy as np
for c in df.columns:
    le=preprocessing.LabelEncoder().fit(df[c])
    df[c] =le.transform(df[c])
    pd.to_numeric(df[c]).astype(np.float)

In [199]:
df.head()

,Age,JobType,Id,Education,House No,Maritial Status,Job,Relationship,race,gender,gain,loss,hours per week,Country,Salary
0,22,7,2200,9,12,4,1,1,4,1,25,0,39,39,0
1,33,6,2413,9,12,2,4,0,4,1,0,0,12,39,0
2,21,4,11865,11,8,0,6,1,4,1,0,0,39,39,0
3,36,4,12909,1,6,2,6,0,2,1,0,0,39,39,0
4,11,4,16235,9,12,2,10,5,2,0,0,0,39,5,0

In [200]:
#finding and filling NAN

for i in df:
    df[i] = df[i].replace(np.nan, np.mean(df[i]))

In [ ]:
#Salary <=50000 is 0 else 1

In [201]:
df.head()
Y=df['Salary']
X=df.loc[0:, df.columns != 'Salary']

In [202]:
from sklearn.preprocessing import Normalizer
scaler = Normalizer().fit(X)
normalizedX = scaler.transform(X)
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(normalizedX)
X = scaler.transform(X)

C:\Anaconda\lib\site-packages\sklearn\utils\validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by the normalize function.
  warnings.warn(msg, _DataConversionWarning)

# 1 Random Forest classifier

In [ ]:
# Applying PCA to Remove correlated features

In [203]:
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import train_test_split
maxAcc=0
k=-1
for i in range(4,df.shape[1]):
   pca = PCA(n_components=i, whiten=True).fit(X)
   X_pca = pca.transform(X)
   X_train, X_test, y_train, y_test = train_test_split( X_pca, Y, test_size=0.4, random_state=0)
   clf = RandomForestClassifier(n_estimators=50)
   clf = clf.fit(X_train, y_train)
   Y_1=clf.predict(X_test)
   acc=accuracy_score(y_test, Y_1) 
   if acc > maxAcc:
      maxAcc=acc
      k=i
print(maxAcc,+i)

0.854083129584 14

# # 2Logistic regression

In [204]:
from sklearn.decomposition import PCA
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
# fit a logistic regression model to the data
model = LogisticRegression(penalty='l2', dual=False, tol=0.0001,
                           C=1.0, fit_intercept=True, intercept_scaling=1, class_weight=None, random_state=None, solver='liblinear', max_iter=100, multi_class='ovr', verbose=0, warm_start=False, n_jobs=1)

maxAcc=0
k=-1
for i in range(4,df.shape[1]):
   pca = PCA(n_components=i, whiten=True).fit(X)
   X_pca = pca.transform(X)
   X_train, X_test, y_train, y_test = train_test_split( X_pca, Y, test_size=0.4, random_state=0)
  
   clf = model.fit(X_train, y_train)
   Y_1=model.predict(X_test)
   acc=accuracy_score(y_test, Y_1) 
   if acc > maxAcc:
      maxAcc=acc
      k=i
print(maxAcc,i)

0.826014669927 14

# GradientBoostingClassifier

In [205]:
from sklearn.decomposition import PCA
from sklearn.ensemble import GradientBoostingClassifier 

from sklearn.model_selection import train_test_split

#Assumed you have, X (predictor) and Y (target) for
#training data set and x_test(predictor) of test_dataset #Create Gradient Boosting Classifier object 
model= GradientBoostingClassifier(n_estimators=1700,learning_rate=0.5, max_depth=1, random_state=0) 

maxAcc=0
k=-1
for i in range(4,df.shape[1]):
   pca = PCA(n_components=i, whiten=True).fit(X)
   X_pca = pca.transform(X)
   X_train, X_test, y_train, y_test = train_test_split( X_pca, Y, test_size=0.4, random_state=0)
  
   model = model.fit(X_train, y_train)
   Y_1=model.predict(X_test)
   acc=accuracy_score(y_test, Y_1) 
   if acc > maxAcc:
      maxAcc=acc
      k=i
print(maxAcc,i)

0.860048899756 14

In [206]:

df1=pd.read_csv("test-data.csv")
#Conversion 
from sklearn import preprocessing
import numpy as np
for c in df1.columns:
    le=preprocessing.LabelEncoder().fit(df1[c])
    df1[c] =le.transform(df1[c])
    pd.to_numeric(df1[c]).astype(np.float)
for i in df1:
    df1[i] = df1[i].replace(np.nan, np.mean(df1[i]))
X1=df1.loc[0:,:]
X1.head()

,Age,JobType,Id,Education,House No,Maritial Status,Job,Relationship,race,gender,gain,loss,hours per week,Country
0,32,4,2197,11,8,2,7,0,4,1,0,0,41,37
1,8,4,2658,11,8,2,6,0,4,1,0,0,36,37
2,16,4,2336,9,12,4,4,1,4,0,0,0,36,37
3,21,4,838,15,9,2,12,0,4,1,0,0,54,37
4,3,4,1424,11,8,4,12,1,4,0,0,0,34,37

In [207]:
from sklearn.preprocessing import Normalizer
scaler = Normalizer().fit(X1)
normalizedX = scaler.transform(X1)
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(normalizedX)
X1 = scaler.transform(X1)

C:\Anaconda\lib\site-packages\sklearn\utils\validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by the normalize function.
  warnings.warn(msg, _DataConversionWarning)

In [ ]:
#choosing gradient boosting

In [215]:
#model= GradientBoostingClassifier(n_estimators=1700,learning_rate=0.5, max_depth=1, random_state=0) 
#pca = PCA(n_components=14, whiten=True).fit(X)
#X_pca = pca.transform(X)
#X_train, X_test, y_train, y_test = train_test_split( X_pca, Y, test_size=0.4, random_state=0)

model = model.fit(X_train, y_train)
Y_1=model.predict(X1)
Y_1

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [217]:
from sklearn import preprocessing
df2=pd.read_csv("train-data.csv")
df1=pd.read_csv("test-data.csv")
le=preprocessing.LabelEncoder().fit(df2['Salary'])
df1['Salary'] =le.inverse_transform(Y_1)
df1.head()
df1.to_csv("Answer.csv")