# trade bitcoin PREDICTION

import pandas as pd

In [183]:
df=pd.read_csv('C:\\Users\\Dell-pc\\Desktop\\Data science ML DL python\\comp projects\\Task_Resource_BTC_Data.csv')

# prediction task 1 and task 3 (accuracy)

In [201]:
df1=pd.read_csv('C:\\Users\\Dell-pc\\Desktop\\Data science ML DL python\\comp projects\\Task_Resource_BTC_Data.csv')
df1.head()

         Date    Open    High     Low   Close
0  2017-08-31  4567.9  4749.9  4567.9  4718.2
1  2017-08-30  4586.6  4641.1  4481.1  4569.0
2  2017-08-29  4385.1  4644.2  4336.7  4587.1
3  2017-08-28  4330.7  4395.2  4175.7  4383.8
4  2017-08-27  4340.2  4405.7  4305.0  4331.8

In [185]:
df1['Price']=tp=(df1['High']+df1['Low']+df1['Close'])/3  
df1.head()

         Date    Open    High     Low   Close        Price
0  2017-08-31  4567.9  4749.9  4567.9  4718.2  4678.666667
1  2017-08-30  4586.6  4641.1  4481.1  4569.0  4563.733333
2  2017-08-29  4385.1  4644.2  4336.7  4587.1  4522.666667
3  2017-08-28  4330.7  4395.2  4175.7  4383.8  4318.233333
4  2017-08-27  4340.2  4405.7  4305.0  4331.8  4347.500000

In [186]:
#Data treatment (Missing value and outlier fixing)
df1=df1.fillna(df1.mean()).dropna(axis=0, how='all')

In [187]:
del df1['Date']
Y=df1['Price']
X=df1.loc[0:, df1.columns != 'Price']

In [188]:
from sklearn.preprocessing import Normalizer
scaler = Normalizer().fit(X)
NX = scaler.transform(X)

In [189]:
#Decision Tree Regression
>>> from sklearn import tree

>>> clf = tree.DecisionTreeRegressor()
>>> clf = clf.fit(NX, Y)
>>> PredictedPrice=clf.predict(NX)

In [190]:
expected=Y
accuracy=(1-sum(abs(PredictedPrice-expected)/expected)/len(Y))*100
accuracy

100.0

# Moving Average # ENTRY EXIT Task 2

In [202]:
df=pd.read_csv('C:\\Users\\Dell-pc\\Desktop\\Data science ML DL python\\comp projects\\Task_Resource_BTC_Data.csv')
import numpy as np


def calcSma(data, smaPeriod):
    j = next(i for i, x in enumerate(data) if x is not None)
    our_range = range(len(data))[j + smaPeriod - 1:]
    empty_list = [None] * (j + smaPeriod - 1)
    sub_result = [np.mean(data[i - smaPeriod + 1: i + 1]) for i in our_range]

    return np.array(empty_list + sub_result)

In [203]:
data=Y
sma45 = calcSma(data=data, smaPeriod=45)
sma15 = calcSma(data=sma45, smaPeriod=15)

In [204]:
df['sma_15']=sma15
df['sma_45']=sma45

In [205]:
df=df.dropna(axis=0, how='any')

In [206]:
df.head()

          Date    Open    High     Low   Close   sma_15   sma_45
58  2017-07-04  2525.9  2628.0  2512.4  2582.6  3136.45  2868.41
59  2017-07-03  2445.1  2584.0  2416.2  2524.0  3093.91  2828.39
60  2017-07-02  2346.2  2470.0  2302.0  2445.0  3052.44  2787.64
61  2017-07-01  2420.6  2440.9  2291.0  2349.5  3012.22  2748.06
62  2017-06-30  2472.4  2511.1  2406.6  2420.7  2973.05  2708.95

In [207]:
import pandas as pd


previous_15 = df['sma_15'].shift(1)
previous_45 = df['sma_45'].shift(1)
crossing = (((df['sma_15'] <= df['sma_45']) & (previous_15 >= previous_45))
            | ((df['sma_15'] >= df['sma_45']) & (previous_15 <= previous_45)))
crossing_dates = df.loc[crossing, 'Date']
print(crossing_dates)

88    2017-06-04
96    2017-05-27
Name: Date, dtype: object

In [ ]:
The first crossover of the quickest SMA (in the example above, the 15-day SMA) across the next quickest SMA (45-day SMA) 
acts as a warning that prices might be reversing trend; however, 
usually a trader would not place an actual buy or sell order then

Thereafter, 
the second crossover of the quickest SMA (15-day) and the slowest SMA (45-day), might trigger a trader to buy or sell.

[6]